@font-face {
    font-family: 'Belanosima';
    src: url('Belanosima-Regular.woff2') format('woff2'),
        url('Belanosima-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

