.login {
    font-family: 'ubuntu';
    text-align: center;
}
.login input {
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #dee2e6;
}
.login .input-group-text {
    border: none;
    background-color: white;
}
.login .material-symbols-outlined {
    background: none;
}
.login .logo {
    width: 10rem;
}
.login .title {
    font-family: 'belanosima';
    letter-spacing: 3px;
}
.border__error {
    border-bottom-color: tomato !important;
}
ion-item {
    background-color: #494949;
}